# Database
db.sqlite3
db.sqlite3-journal

# Environments & Python cache
venv/
env/
__pycache__/
*.pyc
.env
.env.dev
.env.prod

# Uploaded Media & Secrets
media/
.env
trash/
compose.yml
compose.yml.bak

# Local secrets & editor temp files
secret_grafana.txt
*.swp

# Log files & OS junk
*.log
.DS_Store
Thumbs.db

# Backup dumps
backups/
